{% extends "layout.html"%}
{% block title %} amc {% endblock %}

{% block content %}

<section id="amc">
    <div class="container-fluid">
        <div class="row">
            <h4 class="h4apes">AMC Apes is a special collection made by the Billion Ape Club. Only 2,222 pieces will be
                minted for this collection. 🦍 💰️ </h3>
                {% for item in users %}
                <div class=".col-xl-3 col-lg-3 col-md-6 col-sm-12 apes__col">
                    <div class="apes__main">
                        <div class="apes__box">
                            <a href="/amc/apes?page={{ item + 1 }}"><img src="{{ entries[item][6] }}" alt=""></a>
                        </div>
                        <div class="apes__info">
                            <div class="align__apes">
                                <a class="navbar__link social-color" href="/amc/apes?page={{ item + 1 }}"
                                    target="_blank">
                                    <h5>
                                        <strong>
                                            {{ entries[item][2] }}
                                        </strong>
                                    </h5>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
        </div>
    </div>

    <section>
        <ul class="pagination justify-content-center">
            {{ pagination.links }}
        </ul>
    </section>

    <!-- <section>
        <ul class="pagination justify-content-center">
            <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item disabled"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="/amc-2">2</a></li>
            <li class="page-item"><a class="page-link" href="/amc-3">3</a></li>
            <li class="page-item"><a class="page-link" href="/amc-2">Next</a></li>
        </ul>
    </section> -->

</section>

{% endblock %}