{% extends "layout.html"%}
{% block title %} Gallery {% endblock %}

{% block content %}

<section id="gallery">
    <div class="container-fluid">
        <div class="row">
            <h4 class="h4apes">Take 5000 of the richest apes, put them all in the Ravenverse and let's see what will
                happen next. 🦍 💰️ </h3>
                {% for item in range(105, 157) %}
                <div class=".col-xl-3 col-lg-3 col-md-6 col-sm-12 apes__col">
                    <div class="apes__main">
                        <div class="apes__box">
                            <a href="{{ entries[item][3] }}"><img src="{{ entries[item][2] }}" alt=""></a>
                        </div>
                        <div class="apes__info">
                            <div class="align__apes">
                                <h5><strong>{{ entries[item][1] }}</strong></h5>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
        </div>
    </div>

    <section>
        <ul class="pagination justify-content-center">
            <li class="page-item"><a class="page-link" href="/gallery-1">Oldest</a></li>
            <li class="page-item"><a class="page-link" href="/gallery-2">Previous</a></li>
            <li class="page-item"><a class="page-link" href="/gallery-1">1</a></li>
            <li class="page-item"><a class="page-link" href="/gallery-2">2</a></li>
            <li class="page-item disabled"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="/gallery-4">4</a></li>
            <li class="page-item"><a class="page-link" href="/gallery-5">5</a></li>
            <li class="page-item"><a class="page-link" href="/gallery-4">Next</a></li>
            <li class="page-item"><a class="page-link" href="/gallery-18">Latest</a></li>
        </ul>
    </section>

</section>

{% endblock %}