{% extends "layout.html"%}
{% block title %} Gallery {% endblock %}

{% block content %}

<section id="gallery">
    <div class="container-fluid">
        <div class="row">
            <h4 class="h4apes">Take 5000 of the richest apes, put them all in the Ravenverse and let's see what will happen next. 🦍 💰️ </h3>
            {% for item in entries %} 
            <div class=".col-xl-3 col-lg-3 col-md-6 col-sm-12 apes__col">
                <div class="apes__main">
                    <div class="apes__box">
                        <a href="{{ entries[item][1] }}"><img src="{{ entries[item][0] }}" alt=""></a>
                    </div>
                    <div class="apes__info">
                        <div class="align__apes">
                          <h5><strong>Billion Ape #{{ entries[item][2] }}</strong></h5>
                        </div>
                      </div>
                </div>
            </div>
            {% endfor %} 
        </div>
    </div>

    <section>
        <ul class="pagination justify-content-center">
          <li class="page-item"><a class="page-link" href="/gallery-10">Previous</a></li>
          <li class="page-item"><a class="page-link" href="/gallery-10">10</a></li>
          <li class="page-item disabled"><a class="page-link" href="#">11</a></li>
          <li class="page-item"><a class="page-link" href="/gallery-12">12</a></li>
          <li class="page-item"><a class="page-link" href="/gallery-12">Next</a></li>
        </ul>
    </section>

</section>

{% endblock %}